@model Booking_Tour.Models.Users
@{
    ViewBag.Title = "SettingsAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="cart-table-area my-100 col-12">
    <div class="container">
        <div class="row">
            <div class="wrapper bg-white mt-sm-5 col-12">
                <h4 class="pb-4 border-bottom">Account settings</h4>
                <div class="d-flex align-items-start py-3 border-bottom">
                    @if (ViewBag.User.avatar == null)
                    {
                        <p style="color:red; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Vui lòng cập nhật ảnh </p>
                    }
                    else
                    {
                        <img src="@ViewBag.User.avatar" class="img" alt="">
                    }
                </div>
                <div class="py-2">
                    <div class="row py-2">
                        <div class="col-md-6"> <label for="firstname">Full Name</label> <input type="text" class="bg-light form-control" value="@ViewBag.User.name" disabled> </div>
                        <div class="col-md-6"> <label for="email">Email Address</label> <input type="email" class="bg-light form-control" value="@ViewBag.User.email" disabled> </div>
                    </div>
                    <div class="py-3 pb-4 border-bottom">
                        <a href="@Url.Action("EditAccount","Account",new {id = ViewBag.User.id })" class="btn btn-primary mr-3">Edit User Information </a>
                        <a href="@Url.Action("UpdatePasswordUser","Account",new { id = ViewBag.User.id})" class="btn btn-primary mr-3">Edit User Password </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
